
div.profile-infos {
    h1 {
        color: coral;
    }


    margin-top : 10px;

    button.add {
        background-color: white;
        color: black;
    }


    .prems {


        .left-info {
            margin: 100px;
            flex: 0.4 1;
            font-size: 0.9rem;
            background-color: white;
            width:fit-content;
            height: fit-content;
            padding: 10px;




        }
        h2{
            font-size: 15px;
            color: black;
            padding-bottom:  10px;
        }
    }
}