h2 {
  font-size: 50px;
  color: aliceblue;
  margin-top : 10px;
}

div.sidebar {
  position: fixed;
  left: 0;
  top: 60px;
  height: 100%;
  width: 250px;
  background-color: #252e48;
  padding-top: 10px;

  div.links {
    margin: 50px 20px 0;
    display: block;

    a.link {
      color: white;
      margin: 15px 0;
      font-size: 17px;
      text-decoration: none;

      div {
        &:hover {
          background-color: black;
        }
      }
    }

  }
}


.profile {
  margin-top: 15px;
  display: flex;
  justify-content: center;

  form.profile-coords {
    display: block;
    padding: 50px;
    min-width: 350px;
    background-color: #fff;
    div.profile-field {
      display: block;
      width: 100%;
      label {
        display: block;
        margin-left: 5px;
        color: #000000;
        padding-top: 40px;
        font-size: 17px;
      }
      input {
        display: block;
        color: black;
        margin: auto;
        height: 30px;
        width: 90%;
        border: 1px solid black;
        padding: 2% 3%;
        font-size: 15px;

        &:disabled {
          color: gray;
        }
      }


    }
  }

    button.edit {
      height: 25px;
      width: 60px;
      margin-top: 50px;
      color: black;
      font-size: 20px;
    }
}
