div.product-categories {

  img {
    margin: auto;
  }

  div.product-info {
    margin-top: 80px;

   .info-name{
      margin: 10px;

    }
    .info-price {
      font-weight: bold;
      margin: 20px;
    }

    .info-description {
      font-size: 0.8rem;
      margin: 30px;
    }


  }


}




