.home {
  //max-width : 1300px;
  //margin : 1rem;
  display: inline-grid;
  width: 100%;




h3.hometitle {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;
  margin-left: 8px;

}

.home-products {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 25%));
  width: 100%;
  justify-content: space-between;


}

.latest-product {
  margin-bottom: 100px;
    display: flex;
  }

h3.article-moment {
  margin-top: 80px;
  font-size: 1.5rem;
  color: #171717;
  margin-bottom: 1rem;
  margin-left: 8px;
}
}
