
div.famous-product-card {
    display: flex;
    height: 300px;
    margin: 8px;
    width: 100%;
    background: #fff;
    color: black;
    div.card-body {
        margin: 30px;
        height: 80%;
        width: 50%;
        div.card-details {
            height: 70%;
            width: 100%;
            p {
                font-size: 13px;
                line-height: 1.4;
                color: #000000;
                margin: 20px 0;
            }
        }
        div.card-actions {
            height: 30%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            span.price {
                display: block;
                color: black;
                font-size: 20px;
                font-weight: bold;
            }
            button {
                text-align: center;
                width: 120px;
                display: block;
                height: 40px;
                border: 1px solid #171717;
                background-color: #171717;
                color: #fff;
                cursor: pointer;
            }
        }

    }
    div.card-icon {
        height: 100%;
        display: flex;
        img {
            border-radius: 2Px;
            display: block;
            width: 250px;
            height: 250px;
            margin: auto;
        }
    }


}
/*
.button {
    width: fit-content;
    height: fit-content;
    margin-top: 10px;



}

.button a {
    display: inline-block;
    overflow: hidden;
    position: relative;
    font-size: 11px;
    color: #111;
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #aaa;
    font-weight: bold;


}

.button a:after{
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 0%;
    background: #111;
    height: 100%;
    z-index: -1;
    transition: width 0.3s ease-in-out;
    transform: skew(-25deg);
    transform-origin: right;
}

.button a:hover:after {
    width: 150%;
    left: -10px;
    transform-origin: left;

}

.button a:hover {
    color: #fff;
    transition: all 0.5s ease;
}

.content-animated-fadeInLeft div{
    display: grid;

}

.bg {
    font-size: 50px;
    font-weight: bolder;
}
*/
