div.table {
  margin-left: 20%;

  tr{
    background-color: green;
    th {
      border: 1px solid #ddd;
      padding: 8px;



    }
  }

 tbody.ouis{

     td {
       text-align: center;
       border: 1px solid #ddd;
       padding: 35px;
       background-color: white;
       width: 25%;

     }


   }


}

