div.stockManagement {

  h1.title{
    color: white;
    padding: 20px;
  }


div.table {
  margin-left: 20%;
  padding: 20px;


  tr.header-table{
    background-color: green;
    th {
      border: 1px solid #ddd;
      padding: 8px;



    }
  }

 tbody.body-table{

     td {
       text-align: center;
       border: 1px solid #ddd;
       padding: 35px;
       background-color: white;
       width: 25%;

     }


   }

}
}

