.form-container {
    width: 40%;
    margin: auto;
    position: relative;
    border-radius: 10px;
    height: 600px;
    display: inline-grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

div.auth-form {
    position: absolute;
    margin: 50px auto 10px;
    top: 45%;
    left: 50%;
    width: 450px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: #000000;
    border-radius: 6px;
    overflow: hidden;

    form {
        margin: 0 5px;
        h2 {
            text-align: left;
            font-size: 25px;
            color: black;
        }

        div.multiple-input-box {
            display: flex;
            justify-content: space-between;
            div.input-box {
                width: 45%;
                margin-top: 10px;
                margin-bottom: 10px;
                label {
                    //text-transform: uppercase;
                    color: #171717;
                    display: block;
                }
                input {
                    border: 1px solid black;
                    margin-top: 10px;
                    width: 100%;
                    color: #171717;
                    height: 40px;
                    outline: none;
                    font-size: 20px;

                    border-radius: 2px;
                    box-sizing: border-box;
                    padding: 2% 3%;

                    &:invalid{
                        &:focus {
                            border: 1px solid red;
                        }
                    }

                    &:valid {
                        &:valid {
                            border: 1px solid green;
                        }
                    }

                    &::placeholder {
                        color: #a4a4a4;
                        font-size: 20px;
                    }
                }
            }
        }


        div.input-box {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;

            label {
                //text-transform: uppercase;
                color: #171717;
                font-size: 17px;
            }

            input {
                border: 1px solid black;
                margin-top: 10px;
                width: 100%;
                color: #171717;
                height: 40px;
                outline: none;
                font-size: 20px;

                border-radius: 2px;
                box-sizing: border-box;
                padding: 2% 3%;

                &:invalid{
                    &:focus {
                        border: 1px solid red;
                    }
                }

                &:valid {
                    &:valid {
                        border: 1px solid green;
                    }
                }

                &::placeholder {
                    color: #a4a4a4;
                    font-size: 20px;
                }
            }
        }

        div.links {
            display: flex;
            width: 100%;
            margin-top: 10px;
            justify-content: space-between;
            div {
                a {
                    font-size: 16px;
                    line-height: 20px;
                    color: #4285F4;
                    border: none;
                    text-decoration: inherit;
                    transition: all 0.2s;
                    &:hover {
                        color: #69a4ff;
                    }
                }
            }
        }

        div.form-submit {
            width: 100%;
            margin-top: 20px;
            button {
                font-size: 23px;
                background-color: #171717;
                color:white;
                border-radius: 2px;
                box-shadow: none;
                border: none;
                width: 100%;
                height: 45px;
            }
        }

        div.error-container {
            display: flex;
            margin: auto;
            min-height: 20px;
            span#error-display {
                margin: auto;
                font-size: 18px;
                color: red;
                opacity: 0;

                &.show {
                    opacity: 1;
                    transition: all 0.2s;
                }
            }
        }
    }
}
