@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  background-color: #141720;
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.app-header {

}

div#root {
  height: 100%;
  width: 100%;
}

div.app-body {
  width: 68%;
  padding: 60px 1% 0;
  margin: 0 15%;
  min-height: 100%;
  background-color: #141720;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.35);
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.20);
}

html {
  height: 100vh;

  min-height: 100vh;
}
body {
  height: 100%;
}


@media only screen and (max-width: 640px) {
  div.app-body {
    width: 100%;
    margin: 0;
  }

  html {
  }
}
