
nav.seller-dashboard-sidebar {
    display: block;
    //background: //linear-gradient(#0e0e0e, #000000,  #000000,  #0e0e0e);;
    background-color: #171c21;//#1a232b;
    position: fixed;
    left: 0;
    top: 60px;
    height: calc(100% - 60px);
    width: 250px;


    div.sidebar-header {
        height: 60px;
        padding: 20px 0 0 20px;
        h3 {
            font-size: 20px;
            color: white;
        }
        margin-bottom: 30px;
    }

    div.action-list {
        display: block;
        width: 100%;

        a {
            padding: 0 1rem;
            color: white;
            text-decoration: none;
            font-size: 18px;
            height: 40px;
            display: flex;
            align-items: center;
            transition: background-color 0.1s;
            &:hover {
                background-color: #394d5f;
            }
        }
    }

    div.links {
        margin: 50px 20px 0;
        display: block;
        a.link {
            color: white;
            margin: 15px 0;
            font-size: 17px;
            text-decoration: none;

            div {
                &:hover {
                    background-color: black;
                }
            }
        }

    }
}
